# Environment variables
.env
!dist/.env

# Music files
*.mp4
*.mp3

# Downloaded files (Music)
Downloads/*
!Downloads/.gitkeep

# Config files
config.json

# Python cache
__pycache__/

# Build files, distribution files
build/
